/* This page is going to be the style css from /dashboard.html.erb */

.user-presentation{
margin: 32px;
padding: 16px;
border: 1px solid #000000;
border-radius: 15px;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}

.user-footer{
margin: 32px;
padding: 16px;
border-radius: 15px;
}


.accept-button{
background-color: #ffffff;
padding: 8px;
border-radius: 15px;
}

.accept-button:hover{
  background-color: #00b627;
  padding: 8px;
  border-radius: 15px;
  }

.reject-button{
  background-color: #ffffff;
  padding: 8px;
  border-radius: 15px;
}

.reject-button:hover{
  background-color: #eb0000;
  padding: 8px;
  border-radius: 15px;
}
