/* This is going to be the style page for the Log-in form */


/* This is the main container of the form */
.form-login-container {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-right: 0px;
  padding: 32px;
  height: 500px;
  width: 600px;
  border: 1px solid #000;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  margin-left: auto;
  margin-right: auto;
}


.form-actions-login{
justify-content: center;
margin-bottom: 32px;
background-color: rgb(255, 255, 255);
border: 1px solid #000;
border-radius: 15px;
height: 40px;
width: 96px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.form-actions-login:hover{
  background-color: rgb(66, 112, 209);
  color: rgb(255, 255, 255);
}
