<h1> New reservation spot </h1>

<%= simple_form_for([@spot, @booking]) do |f| %>
<%  %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <button class="button">
  <%= f.submit %>
  </button>
<% end %>
