
<body>
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://th.bing.com/th/id/OIG3.HQAMzj2JuHEgMDTheewx?w=1024&h=1024&rs=1&pid=ImgDetMain)">
      <div class="card-category-content">
        <div class="card-category-overlay"></div>
        <h2>Evenbnb - Airbnb for filmmakers</h2>
        <p>Find unique filming locations for your next project</p>
        <%= link_to "Discover spots", spots_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</body>
