
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://th.bing.com/th/id/OIG3.HQAMzj2JuHEgMDTheewx?w=1024&h=1024&rs=1&pid=ImgDetMain)">

  <div class="home-page-container">

    <div class="presentation-info">
      <h2>Evenbnb - Airbnb for filmmakers</h2>
      <p>Find unique filming locations for your next project</p>
      <%# <button class="button-home-container"> %>
      <%= link_to "Discover spots", spots_path, class: "button-home"%>
      <%#   </button> %>
    </div>

    <div class="presentation-cards-images">
      <div class="home-presentation-card">
        <img src="https://tse4.mm.bing.net/th/id/OIG3.FTVoZahGrysRnnqvj4vu?pid=ImgGn" alt="home-filmation">
      </div>
      <div class="presentation-card">
        <img src="https://tse1.mm.bing.net/th/id/OIG2.Ft4ZEig7CpN8Jbyyk5c1?pid=ImgGn" alt="castle-filmation">
      </div>
      <div class="presentation-card">
        <img src="https://tse3.mm.bing.net/th/id/OIG4.0mQyj4XC6DoqK9JQJ.fH?pid=ImgGn" alt="river-filmation">
      </div>

    </div>

  </div>

</div>
