<h1>Bienvenue, <%= @user.name %></h1>

<h2>Vos réservations de spots :</h2>

<ul>
  <% @reservations.each do |reservation| %>
    <li>
      <%= reservation.spot.name %> -
      <%= reservation.start_date.strftime("%B %d, %Y") %> au
      <%= reservation.end_date.strftime("%B %d, %Y") %>
    </li>
  <% end %>
</ul>
