.card-body {
  height: 200px;
  width: 100%;
  margin: 16px;
  color: rgb(0, 0, 0);
  border-radius: 15px;
}


.card-body img{
  image-rendering: auto;
  height: 150px;
  width: 150px;
  border-radius: 15px;
}
