/* This is the style CSS from the spot cards showed */

.card-group {
  margin: 8px;
  display: flex;
  padding: 8px;
  margin: 16px;
  border-radius: 15px;
}
.card {
  height: 520px;
  margin: 8px;
  padding: 8px;
  border-radius: 15px;
  transition: 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.card img {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  height: 250px;
  width: 280px;
  object-fit: cover;
}
